* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    height: 600px;
}

body {
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100%;
}

.container {
    width: 70%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.todo {
    width: 70%;
    height: auto;
    border: 1px black solid;
    border-radius: 5px;
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: darkorange;
}

.todo.added {
    width: 70%;
    height: auto;
    border: 1px black solid;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: darkorange;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo > * {
    margin: 3px;
    vertical-align: middle;
}

.todo.added {
    background-color: rgb(255, 209, 124);
}

.todo-text,
.todo-date,
.todo-prio,
.todo-remove {
    display: inline-block;
}

.todo-text {
    width: 50%;
}

.todo-date,
.todo-prio {
    font-size: 12px;
}

[id^="remove"] {
    font-size: 10px;
    color: white;
    background-color: darkolivegreen;
    border: 2px white solid;
    border-radius: 3px;
}

[id^="remove"]:hover {
    background-color: lightblue;
    color: black;
}

[id^="remove"]:active {
    position: relative;
    top: 1px;
    left: 1px;
    background-color:dimgray
}

#profile {
    position: absolute;
    right: 50px;
    top: 30px;
}