<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ToDaLoo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="undefined" crossorigin="anonymous">
	    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="undefined" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <button class="btn btn-outline-warning btn-lg" id="profile">My Profile</button>
        <div class="container" id="container-field">
            <div class="todo" id="add-todo">
                <div class="title">What do you want to accomplish next?</div>
                <form id="input-form" onsubmit="addTask()">
                    <input class="form-control" type="text" id="new-task" name="new-task" placeholder="Describe your new task">
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <input class="form-control form-control-sm" type="date" id="task-deadline" name="task-deadline">
                        </div>
                        <div class="col-auto">
                            <select class="form-select form-select-sm m-2" name="priority" id="priority" class="dropdown">
                                <option value="Prio: High">High</option>
                                <option value="Prio: Medium">Medium</option>
                                <option value="Prio: Low">Low</option>
                                <option value="Prio: No Prio">No Prio</option>
                            </select>
                        </div>
                        <div class="col-auto">
                            <input type="submit" value="Add task" id="submit" class="btn btn-warning btn-sm ms-3" />
                        </div>
                    </div>
                </form>
            </div>
        </div>



        <script type="module" src="./todos.js" async defer></script>
    </body>
</html>